body {
  font-family: Roboto, sans-serif;
  margin: 0px
}

.header, .footer {
  background: #1F2937;
}

.header-bar, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.footer {
  justify-content: center;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  gap: 35px;
}

.header-text {
  max-width: 500px;
}

.header-text div {
  margin-bottom: 16px;
}

.header-image {
  height: 300px; 
  width: auto;
  flex: 1 1 auto;
}

a:link, .hero-secondary {
  color: #E5E7EB;
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

.hero {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 30px;
  text-align: center;
  font-family: Roboto, sans-serif;
  white-space: nowrap;
}

.info {
  background: #FFFFFF;
}

.info-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding: 42px;
}

.info-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 52px;
  text-align: center;
  margin: 0px 50px 75px;
}

.content {
  max-width: 200px;
}

.info-image {
  width: 200px;
  height: 200px;
}

.quote-section {
  background: #E5E7EB;
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
  font-style: italic;
  margin-bottom: 16px;
  max-width: 1000px;
  text-align: center;
}

.quotee {
  font-weight: bold;
  font-size: 24px;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.signup-main {
  background: #3882F6;
  padding: 40px 90px;
  width: 1000px;
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.action-call {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}